name: Generate Datas

on:
  schedule: # execute every 1 hours
    - cron: "* */1 * * *"
  workflow_dispatch:
  
permissions:
  contents: write  # Permissão para escrever no repositório
  pages: write     # Permissão para publicar páginas no GitHub Pages

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      # Snake Animation
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: seu-usuário-aqui
          svg_out_path: dist/github-contribution-grid-snake.svg

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
